@model PagedList.IPagedList<GameStore.Domain.Entities.Game>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Index";
}



<h2 align="center">Список игр</h2>
<br><br><br><br><br>

<div align="center">
    <table class="table table-hover">

        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Название</th>
            <th scope="col">Цена</th>
            <th scope="col">Описание</th>
        </tr>
        </thead>

        <tbody>
        @foreach (var g in Model)
        {
            <tr class="table-primary">
                hbv <td>@g.GameId</td>
                <td>@g.Name</td>
                <td>@g.Price</td>
                <td>@g.Description</td>
                <td>
                    @using (Html.BeginForm("AddToCart", "Cart"))
                    {
                        <div class="pull-right">
                            @Html.Hidden("gameIdString", g.GameId)
                            @Html.Hidden("returnUrl", Request.Url.PathAndQuery)
                            <input type="submit" class="btn btn-success" value="Добавить в корзину" />
                        </div>
                    }
                </td>
            </tr>

        }
        </tbody>
    </table>
</div>

<br>
<div class="btn-group pull-right">

    Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

    @Html.PagedListPager(Model, x => Url.Action("List", new { page = x, category = ViewBag.Category}))

</div>

